.todo#completed {
    margin-top: 55px;
    text-decoration: line-through;
}

ul.todo#todo:empty:after {
    content: 'You have nothing to-do!';
    margin: 30px 0 0 0;
  }

  ul.todo#completed:empty:after {
    content: 'You have yet to complete any tasks.';
  }
  
  ul.todo#todo:after,
  ul.todo#completed:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #aaa;
  }


li {
    cursor: pointer;
}

